/* ==============================

      Navigation

==============================  */
.main-nav {
  width: 100%;
  min-width: 1024px;
  height: 60px;
  box-shadow: 0 1px 2px 0 rgba(204, 204, 204, 0.5);
  background-color: #ffffff;
}

.main-nav .nav-list {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding: 18px 0px;
  overflow: hidden;
}

.nav-list li {
  float: left;
}

.nav-list .user a {
  font-size: 14px;
  color: #000000;
}

.nav-list .user img {
  width: 16px;
  margin-right: 4px;
}

.main-nav .text-logo {
  width: 114px;
  height: 28px;
  font-family: Vollkorn;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1e1d1c;
}

/* ==============================

      Container

==============================  */
/* Welcome container */
.welcome-container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-title {
  margin-top: 80px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 48px;
}

.welcome-contents {
  display: flex;
}

.welcome-group {
  width: 100%;
  padding: 36px 42px;
  border-radius: 4px;
  border: solid 1px #d6d6d6;
}

.welcome-group + .welcome-group {
  margin-left: 60px;
}

.welcome-form-title {
  margin-bottom: 24px;
}

.welcome-group button {
  margin-top: 32px;
}

/* Writing container */
.writing-container {
  display: flex;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 42px;
}

.step-list {
  width: 240px;
  margin-top: 42px;
}

.step-list .step-state {
  margin-left: 8px;
  width: 16px;
}

.detail-form-list {
  margin-left: 128px;
  width: 100%;
}

.step-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
  border-bottom: 1px solid #000000;
  margin-top: 32px;
  padding-bottom: 2px;
}

.step-title.first {
  margin-top: 0px;
}

.step-title .caution {
  margin-left: 12px;
}

.step-sub-title {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 56px;
}

.step-sub-title span {
  margin-left: 8px;
}

.half-form {
  display: flex;
}

.action-area {
  margin-top: 40px;
  display: inline-block;
}

.step-list {
  font-size: 14px;
}

.step-list li {
  margin-bottom: 24px;
}

.step-list img {
  width: 16px;
  margin-right: 16px;
}

/* ==============================

      Items

==============================  */
a {
  color: #000;
}

a:hover,
a:active {
  color: #007aff;
  text-decoration: none;
}

.caution {
  font-weight: normal;
  color: red;
}

span {
  font-size: 12px;
}

span.caution {
  color: red;
}

span.notice {
  color: #007aff;
}

hr.trans.lv1 {
  border: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
}

hr.lv2 {
  border: transparent;
  border-bottom: solid 1px #dae3f3;
  margin-top: 40px;
  margin-bottom: 40px;
}

sup.caution {
  color: red;
}

.bold {
  font-weight: bold;
}

em {
  color: #007aff;
}

/* ==============================

      Form

==============================  */
form {
  width: 100%;
}

form + form {
  margin-left: 56px;
}

label {
  font-size: 12px;
}

input {
  width: 100%;
  height: 32px;
  padding: 8px;
  border: 1px solid #c7ccd9;
  font-size: 14px;
}

input.short {
  width: 240px;
}

input::placeholder,
textarea::placeholder {
  color: #6c6f78;
}

.input-group.row {
  display: flex;
}
.input-group.row * + * {
  margin-left: 4px;
}

.input-group.row label {
  min-width: 100px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 0;
}

.input-group + .input-group {
  margin-top: 16px;
}

textarea {
  width: 100%;
  display: block;
  border-radius: 4px;
  border: solid 1px #c7ccd9;
  padding: 16px;
  font-size: 14px;
}
textarea.intro-text {
  text-align: center;
}
form .postzip {
  display: flex;
  margin-bottom: 8px;
}

form .postzip button {
  margin-left: 8px;
}

form .postadd input + input {
  margin-top: 8px;
}

/* file Button */
.filebox label {
  text-align: center;
  border-radius: 4px;
  border: solid 1px #c7ccd9;
  color: #000;
  font-size: 14px;
  padding: 9px 16px 8px;
}

.filebox input[type='file'] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.filebox span {
  width: 100%;
  display: inline-block;
}

select {
  font-size: 14px;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  display: block;
  width: 100%;
  height: 32px;
  padding-left: 8px;
  border: none;
  background-color: transparent;
  border: 1px solid #c7ccd9;
  background-image: url(../assets/ic/arrow-down.svg);
  background-size: 12px auto;
  background-repeat: no-repeat;
  background-position: 95% 12px;
}
.form-inner-guide {
  font-size: 14px;
  color: #6c6f78;
  line-height: 32px;
  padding: 0px 8px;
}
input + button {
  margin-left: 4px;
}
/* Notification */
.noti-box {
  background-color: #f7faff;
  border-radius: 4px;
  border: solid 1px #d4e5ff;
  padding: 24px;
  font-size: 14px;
}

.noti-box div {
  margin-bottom: 8px;
}

.noti-box li {
  margin-bottom: 8px;
}

/* Photo */
.photo-select-group {
  display: flex;
}

.photo-select-group .filebox {
  margin-left: 8px;
}

.photo-select {
  position: relative;
  border-radius: 4px;
  width: 100px;
  height: 100px;
  border: dotted 1px #c7ccd9;
  background-image: url(../assets/img/none-pic.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  margin-bottom: 16px;
}

.photo-select .photo-delete {
  position: absolute;
  right: 0;
  background-color: #000;
}

.photo-select.preview {
  background-image: url(../assets/img/wedding-img.jpg);
  background-size: 90px 90px;
}

.photo-select + .photo-select {
  margin-left: 16px;
}

/* ==============================

      Button

==============================  */
.btn + .btn {
  margin-left: 16px;
}

.btn {
  text-align: center;
  border-radius: 2px;
  padding: 20px 32px 18px;
}

.btn-icon-only {
  width: 32px;
  font-size: 14px;
  padding: 6px;
}

.btn-icon-only img {
  width: 20px;
  height: auto;
}
.btn-sm {
  font-size: 14px;
  padding: 0px 16px;
  min-width: 100px;
}

.btn-block {
  width: 100%;
}

.btn-default {
  border: solid 1px #c7ccd9;
  color: #000;
}

.btn-primary {
  color: white;
  background-color: #6372ee;
}

.btn-secondary {
  color: #6372ee;
  background-color: #ffffff;
  border: 1px solid #6372ee;
}
/* ==============================

      Radio button custom

==============================  */
/* The container */
.radio-wrap {
  height: 32px;
  line-height: 32px;
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #c7ccd9;
  background-color: #ffffff;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-wrap:hover input ~ .checkmark {
  background-color: #ffffff;
  border: 0px;
}

/* When the radio button is checked, add a blue background */
.radio-wrap input:checked ~ .checkmark {
  background-color: #6372ee;
  border: 0px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-wrap input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-wrap .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/* ==============================

      Modal

==============================  */
.modal-bg {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-content {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 14px 0 rgba(159, 159, 159, 0.5);
}

.modal-content .close {
  position: absolute;
  right: 16px;
  top: 16px;
}

.modal-content .title {
  font-size: 16px;
  font-weight: bold;
}

.modal-content .sub {
  font-size: 14px;
  line-height: 1.43;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 24px;
}

/* ==============================

      Footer

==============================  */
footer {
  display: block;
  text-align: center;
  font-family: vollkorn;
  font-size: 10px;
  padding-top: 200px;
  padding-bottom: 32px;
}
