/*
 * 나눔명조 : 400, 700, 800
 * font-family: 'Pinyon Script', cursive;
 * font-family: 'Maven Pro', sans-serif;
*/

body {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-size: 15px;
  color: #050505;
  background-color: #ffffff;
}

/* ================================

      전체 폰트/마진/패딩 설정

================================ */
/* 컨테이너 상단의 패딩 값 */
.bold {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

/* 컨테이너 상단의 패딩 값 */
.pdt-mini-1 {
  padding-top: 8px;
}

.pdt-mini-2 {
  padding-top: 16px;
}

.pdt-1 {
  padding-top: 72px;
}

.pdb-1 {
  padding-bottom: 72px;
}

.pdt-2 {
  padding-top: 124px;
}

.pdb-2 {
  padding-bottom: 124px;
}

/* ================================

      전체 디자인 요소

================================ */
.deco-line {
  text-align: center;
  padding-top: -24px;
  padding-bottom: 20px;
}

.deco-line>img {
  width: 140px;
  height: auto;
}

/* 기본 아이폰 5/SE */
@media only screen and (max-width: 320px) {
  .deco-line>img {
    width: 120px;
    height: auto;
  }
}

.heading {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  color: #000000;
  font-family: 'Pinyon Script', cursive;
}

/* 기본 아이폰 5/SE */
@media only screen and (max-width: 320px) {
  .heading {
    font-size: 32px;
  }
}

.heading-info {
  padding-top: 8px;
  font-size: 12px;
  color: #000000;
}

/* ================================

      메인

================================ */
/* 

      메인 사진 영역

*/
.main-container {
  position: relative;
  height: 100vh;
  width: 100%;
  /*
  background-image: url(../assets/img/loading.svg);
  */
  background-size: 52px 52px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(1, 5, 3, 0.3);
}

.main-container .photo-wrap {
  height: 100%;
  width: 100%;
  background-image: url(../assets/sample-img/fresh-morning/ulyana-tim-AbnCRgL2DNs-unsplash.jpg);
  text-align: center;
  background-size: cover;
  background-position: center;
}

.main-container .photo-wrap .color-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(34, 30, 25, 0.5);
}

/* 

      메인 이름 영역

*/
.main-container .photo-wrap .name {
  font-family: 'Pinyon Script', cursive;
  font-size: 52px;
  color: #ffffff;
  padding-top: 180px;
}

.main-container .photo-wrap .name span {
  margin: 0 6px;
}

/* 기본 아이폰 5/SE */
@media only screen and (max-width: 320px) {
  .main-container .photo-wrap .name {
    font-size: 40px;
    padding-top: 170px;
  }
}

.main-container .photo-wrap .full-name {
  font-family: 'Maven Pro', sans-serif;
  color: #ffffff;
  font-size: 14px;
  margin-top: -16px;
}

/* 

      상세정보

*/
.main-container .info-detail {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  letter-spacing: 4px;
  font-size: 14px;
}

/* 기본 아이폰 5/SE */
@media only screen and (max-width: 320px) {
  .main-container .info-detail {
    bottom: 40px;
    font-size: 13px;
  }
}

.main-container .info-detail p:first-child {
  font-family: 'Pinyon Script', cursive;
  font-size: 24px;
  letter-spacing: 1.6px;
  margin-bottom: 8px;
}

.main-container .info-detail .date span {
  vertical-align: sub;
  margin: 0 4px;
}

/* ================================

      인사말

================================ */
/* 

      인사말 영역

*/
.greetings-container {
  width: 100%;
  height: 100%;
  padding: 16px;
  /*
  background-image: url(../assets/sample-img/fresh-morning/anna-utochkina-QUi84upBhoc-unsplash.jpg);
  */
  background-size: cover;
  text-align: center;
}

/* 기본 아이폰 5/SE */
@media only screen and (max-width: 320px) {
  .greetings-container {
    padding: 8px;
  }
}

.greetings-wrap {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 100px 0 100px 0;
}

.greetings-ment {
  font-size: 13px;
  text-align: center;
  padding-bottom: 40px;
}


/* 

      신랑신부 이름만

*/
.greetings-container .simple-name {
  font-size: 14px;
}

/* 

      가족이름 영역

*/
.greetings-container .family-name {
  font-size: 14px;
  font-weight: bold;
}

.greetings-container .family-name div+div {
  margin-top: 4px;
}

.greetings-container .family-name .divider {
  color: #f7dba4;
  font-size: 10px;
  padding-top: 4px;
  margin: 0 4px;
}

.greetings-container .family-name .odering {
  margin: 0 8px 0 4px;
  font-weight: 400;
  font-size: 12px;
}

.greetings-container .simple-name+.gold-line,
.greetings-container .family-name+.gold-line {
  padding: 28px;
}

/* 

      인사말 사진

*/
.greetings-photo {
  max-width: 375px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
}

.greetings-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ================================

      갤러리

================================ */
/* 

      갤러리 감싸는 영역

*/

.gallery-less .heading-info {
  text-align: center;
}

.gallery-less .deco-line {
  padding: 20px 0 16px;
}


/* 

      20장 초과

*/
.gallery-more {
  max-width: 375px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  /* test
  background-color: thistle;
  */
}

.gallery-more .heading {
  text-align: left;
  padding-left: 60px;
}

.gallery-more .heading-info {
  padding-left: 55px;
}

/* 기본 아이폰 5/SE */
@media only screen and (max-width: 320px) {
  .gallery-more .heading {
    padding-left: 40px;
  }

  .gallery-more .heading-info {
    padding-left: 35px;
  }
}

/* 375px or less */
@media only screen and (min-width: 375px) {
  .gallery-more .heading {
    padding-left: 0;
  }

  .gallery-more .heading-info {
    padding-left: 0;
  }
}

.gallery-more .photo-grid {
  position: relative;
  height: 390px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

/* 기본 아이폰 5/SE */
@media only screen and (max-width: 320px) {
  .gallery-more .photo-grid {
    height: 300px;
  }
}

.gallery-more .photo-number {
  text-align: center;
  font-size: 24px;
  font-family: "Rozha One", serif;
}

.gallery-more .photo-number a {
  margin-right: 16px;
}

.gallery-more .photo-number a:last-child {
  margin-right: 0;
  margin-left: 16px;
}

.gallery-more .photo-number a img {
  height: 24px;
  width: auto;
}

.gallery-more .photo-number .divider img {
  height: 24px;
  width: auto;
}


/* ================================

      찾아오시는 길

================================ */
/* 

      요약정보

*/
.map-short-container {
  width: 100%;
  background-color: #ffffff;
}

.map-short-info {
  position: relative;
  text-align: center;
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 40px;
  padding-right: 40px;
}

/* 기본 아이폰 5/SE */
@media only screen and (max-width: 320px) {
  .map-short-info {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.map-short-info .map-img {
  width: 100%;
  height: 220px;
  margin-top: 20px;
  margin-bottom: 24px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(57deg,
      #d1d1d1 0%,
      rgba(209, 209, 209, 0) 52%,
      #d1d1d1 100%);
  border-image-slice: 1;
}

.map-short-info .map-img img {
  width: 100%;
  height: 100%;
}

.map-short-info .btn {
  margin-bottom: 32px;
}

.map-short-info .info-grid {
  height: auto;
  font-weight: 400;
  text-align: center;
}

.map-short-info .deco-dot {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 12px;
  height: auto;
}

/* 

      상세정보

*/
.map-detail-container {
  width: 100%;
  background-color: #ffffff;
  text-align: left;
}

.map-detail-info {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  /* test
  background-color: wheat;
  */
}

/* 기본 아이폰 5/SE */
@media only screen and (max-width: 320px) {
  .map-detail-info {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.map-detail-info .info-grid {
  padding-left: 32px;
  color: #232323;
  font-size: 14px;
  line-height: 1.8;
  background-image: url(../assets/img/fresh-morning/diamond.png);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 0px 0px;
}

.map-detail-info .info-grid+.info-grid {
  margin-top: 52px;
}

.map-detail-info .info-grid .title {
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1;
}

/* ================================

      방명록 & RSVP

================================ */
/* 

      방명록

*/
.bbs-container {
  width: 100%;
  background-color: #ffffff;
}

.bbs-wrap {
  max-width: 375px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
  /* test
  background-color: wheat;
  */
}

.bbs-wrap .heading-info {
  text-align: center;
  margin-bottom: 28px;
}

.bbs-wrap .btn-primary {
  margin-top: 16px;
}

/* ================================

      Contact Us

================================ */
.contact-container {
  width: 100%;
  background-color: #ffffff;
}

.contact-wrap {
  max-width: 375px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
  /* test
  background-color: slategrey;
  */
}

.contact-wrap .title {
  color: #636363;
  font-size: 14px;
  margin-bottom: 8px;
}

.contact-wrap .btn {
  margin-bottom: 24px;
}

.contact-wrap .divider {
  border-top: solid 1px #f7dba4;
  margin-bottom: 24px;
}

.copyright {
  margin-top: 120px;
  font-size: 9px;
  text-align: center;
  padding-bottom: 40px;
  color: #222222;
}

/* ================================

      버튼/효과

================================ */
/* 

      button

*/
.btn {
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-weight: 400;
  font-size: 13px;
  background-color: transparent;
}

.btn-primary {
  color: #000000;
  border: solid 1px #000000;
}

.btn-primary img {
  width: 24px;
  height: auto;
  margin-top: -4px;
  margin-left: 8px;
}

/* 

      input

*/
.input-group {
  display: flex;
  border-bottom: 1px solid #979797;
  height: 41px;
}

.input-group label {
  -webkit-flex: 1;
  flex: 1;
  max-width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #7d7d7d;
  text-align: left;
  /* test
  border: 1px solid red;
  */
}

.input-group select {
  background-color: transparent;
  /* Border-Radius, Default Style None */
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  border: none;
  height: 40px;
  line-height: 40px;
  max-width: 100%;
  padding-left: 32px;
  font-size: 14px;
  color: #555555;
  text-align: right;
  /* test
  border: 1px solid red;
  */
}

.input-group input {
  max-width: 100%;
  background-color: transparent;
  height: 40px;
  line-height: 40px;
  text-align: right;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  border: none;
  /* test
  border: 1px solid red;
  */
}

input::placeholder {
  color: #555555;
}

.input-group textarea {
  display: block;
  padding: 16px;
  background-color: transparent;
  width: 100%;
  height: 147px;
  border: solid 1px #979797;
}

.input-group.block {
  display: block;
  height: auto;
  border: none;
}

.input-group.block>* {
  flex: none;
  width: 100%;
}